<!doctype html>
<html>
<head>
  <meta charSet="utf-8" />
	<title>鲸鱼系统</title>
	<link rel="icon" type="image/x-icon" href="/logo.png" />
</head>
<body>
	<div id="<%= context.config.mountElementId %>"></div>
</body>
</html>